/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: transparent;
  min-height: 100vh; /* Asegura que el footer siempre esté en la parte inferior */
  display: flex; /* Agrega flexbox al body */
  flex-direction: column; /* Establece la dirección del flujo de flexbox en columna */
}

/* Encabezado */
/* ... */

/* Estilos para el contenedor principal */
/* ... */

/* Tablas */
/* ... */

/* Contenido principal */
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-bottom: 50px; /* Ajusta el margen inferior según sea necesario */
  flex: 1; /* Hace que el contenido principal ocupe todo el espacio disponible */
}

/* ... */

/* Estilos para el footer */
footer {
  background-color: #ccc;
  color: #000;
  padding: 20px;
  font-size: 70%;
  text-align: center; /* Centra el texto del footer */
  margin-top: auto; /* Empuja el footer hacia abajo */
}

/* ... */
